<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row white-text">
                <div class="col-sm-4">
                    <p>Image</p>
                </div>
                <div class="col-sm">
                    <h2>{{info?.name}}</h2>
                    <div class="py-2">
                        <div class="row white-text">
                            <div class="col-sm-2">
                                <p>Description: </p>
                            </div>
                            <div class="col-sm"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, libero esse architecto fuga labore quis error odit. Voluptate accusantium nihil ad dicta quisquam optio omnis iste, aperiam nulla, ratione quibusdam.</div>
                        </div>
                        <p>Release date: {{info?.releaseDate}}</p>
                        <p>Number of Seasons:</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <h3>Seasons: </h3>
        </div>
        <div class="row"></div>
    </div>
</div>